In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT count(*) FROM songplays;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs;
# LIMIT 5;
#%sql SELECT COUNT(*) FROM songs;

In [ ]:
#%sql SELECT * FROM artists LIMIT 5;
%sql SELECT COUNT(*) FROM artists;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

In [ ]:
%sql SELECT song_id, artist_id FROM songs \
WHERE song_id = 'SOMZWCG12A8C13C480' \
AND artist_id = 'ARD7TVE1187B99BFB1' \
AND duration = '218.93179';

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).